    :root{
    --dark:  rgb(155, 208, 211);
--light:  rgb(221, 249, 251);
--clear:  #d8a47f;
--shadow: #633413;
--borderradius: 50px 50px 0px 0px;
    }
    body{
        background-color: #d8f0f3;
font-family:  Tahoma, Geneva, Verdana, sans-serif;
    }
    #container1{
        background-color:var(--light);
        width: 100%
        var(--borderradius)
        
    }
    #container2{
        background-color:var(--dark);
        width: 70%
    }
    #container2-1{
        width: 100%
}

    #container3{
        background-color:var(--dark);
        width: 70%
    }
        #container4{
            background-color:var(--dark);
            width: 100%}
        
        